html {
  background-color: black;
}
body {
  font-family: sans-serif;
  margin: 0px;
  font-size: 16px;
  color: ghostwhite;
  /*text-shadow: 0px 0px 100px black;*/
  min-height: 100%;
  width: 100vw;
}

em {
  font-weight: bold;
}

a {
  font-style: italic;
  color: inherit;
}

a:hover {
  color: var(--fg-primary);
}

ul {
  list-style: none;
}
